<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Solo build di debug: permette API http su rete locale -->
    <application android:usesCleartextTraffic="true" tools:replace="android:usesCleartextTraffic" />
</manifest>
