<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'login.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    <div class="logo-section">
      <h1>BusinessRegistry</h1>
      <p>{{ 'login.tagline' | translate }}</p>
    </div>

    <ion-button expand="block" fill="outline" type="button" class="register-button-top" (click)="goToRegister()">
      <span>{{ 'login.registerPrompt' | translate }}</span>
    </ion-button>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-input
          [label]="'login.username' | translate"
          labelPlacement="floating"
          formControlName="username"
          type="text"
          [placeholder]="'login.usernamePlaceholder' | translate"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [label]="'login.password' | translate"
          labelPlacement="floating"
          formControlName="password"
          type="password"
          [placeholder]="'login.passwordPlaceholder' | translate"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="loginForm.invalid || loading"
        class="login-button"
      >
        <span *ngIf="!loading">{{ 'login.submit' | translate }}</span>
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      </ion-button>

    </form>

    <div class="footer-text">
      <p>{{ 'login.demo' | translate }}</p>
    </div>
  </div>
</ion-content>
