<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Accedi a BusinessRegistry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    <div class="logo-section">
      <h1>BusinessRegistry</h1>
      <p>Gestisci i tuoi appuntamenti</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Nome utente</ion-label>
        <ion-input
          formControlName="username"
          type="text"
          placeholder="Inserisci il tuo nome utente"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="Inserisci la tua password"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="loginForm.invalid || loading"
        class="login-button"
      >
        <span *ngIf="!loading">Accedi</span>
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      </ion-button>
    </form>

    <div class="footer-text">
      <p>Demo: usa admin / admin123</p>
    </div>
  </div>
</ion-content>
